{% extends 'base.html' %}

{% load staticfiles %}

{% block other_css %}
<link href="{% static "css/account.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="brand">Welcome to your Ditter {{ user.username }}</span></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="modal" data-target="#createBucketlist">Create Bucketlist</a>
                </li>
                <li>
                    <a href="https://github.com/andela-aomondi/djangobucketlist" target="_blank">Code</a>
                </li>
                <li>
                    <a href="/" id="logout_link">Logout</a>
                </li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right">
              <form class="navbar-form pull-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" id="search">
                </div>
              </form>
          </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- /.Navigation -->

<!-- Create bucketlist Modal -->
<div id="createBucketlist" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Bucketlist</h4>
            </div>
            <div class="modal-body">
                <form class="" id="newBucketlistForm">
                    <div class="form-group">
                        <label for="name">Bucketlist Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <button type="submit" id="doBucketlistCreation" class="btn btn-default">Create</button>
                    <p></p>
                    <div id="bucketlistCreationMessage">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Create bucketlist Modal -->

<!-- Update bucketlist Modal -->
<div id="updateBucketlist" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Bucketlist</h4>
            </div>
            <div class="modal-body">
                <form class="" id="updateBucketlistForm">
                    <div class="form-group">
                        <label for="name">New Bucketlist Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <button type="submit" id="doBucketlistUpdate" class="btn btn-default">Update</button>
                    <p></p>
                    <div id="bucketlistUpdateMessage">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Update bucketlist Modal -->

<!-- page content -->
<div class="container">
  <div id="bucketlists">
  </div>
</div>
{% endblock %}
