<!-- Modals -->
<!-- Sign up modal -->
<div id="sign-up-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign Up for Ditter</h4>
      </div>
      <div class="modal-body">
        <form class="" id="sign-up-form">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" id="do-sign-up" class="btn btn-default">Sign Up</button>
          <p></p>
          <div id="sign-up-message">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /. Sign up modal -->

<!-- Login Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login to your Ditter</h4>
      </div>
      <div class="modal-body">
        <form class="" id="login-form">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password">
          </div>
          <button type="submit" id="do-login" class="btn btn-default">Login</button>
          <p></p>
          <div id="login-message">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /. Login Modal -->

<!-- About Modal -->
<div id="about-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">This Is Andela</h4>
      </div>
      <div class="modal-body">
        <p>This project was made with <span class='glyphicon glyphicon-heart'></span> by Amos Omondi for Andela Python Checkpoint 3.</p>
        <p><strong>#TIA</strong></p>
      </div>
    </div>
  </div>
</div>
<!-- /. About Modal -->
