{% extends 'base.html' %}

{% load staticfiles %}

{% block other_css %}
<link href="{% static "css/custom.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="brand">Ditter</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#aboutModal">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/andela-aomondi/djangobucketlist" target="_blank">Code</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- /.Navigation -->

    <!-- Page Content -->
    <div class="container">
        <div class="row center-block">
            <div class="col-md-9 col-sm-12">
              <div>
                <h1>Welcome to <span class="brand">Ditter</span></h1>
                <p>Sign up or login to create a bucketlist</p>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginModal">Login</button>
              </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    {% include 'home_modals.html' %}
{% endblock %}
