<!-- Add new item Modal -->
<div id="newItemModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Item</h4>
            </div>
            <div class="modal-body">
                <form class="" id="newItemForm">
                    <div class="form-group">
                        <label for="name">New Item Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <button type="submit" id="doItemCreate" class="btn btn-default">Create Item</button>
                    <p></p>
                    <div id="itemCreationMessage">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.Add new bucketlist Modal -->

<!-- New item name Modal -->
<div id="newItemNameModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Item Name</h4>
            </div>
            <div class="modal-body">
                <form class="" id="newItemNameForm">
                    <div class="form-group">
                        <label for="name">New Item Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>

                    <button type="submit" id="doItemRename" class="btn btn-default">Rename Item</button>
                    <p></p>
                    <div id="itemNameChangeMessage">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.New item name bucketlist Modal -->
